/* Navbar */

.App {
  background-color: #f2f2f2; 
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #343a40; 
}

.navbar .navbar-brand {
  font-weight: bold;
  color: #ffcc00 !important; 
}

.navbar .nav-link {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #ffcc00 !important;
}

.navbar .nav-link.disabled {
  color: #6c757d !important;
}

.form-control {
  /* border-radius: 30px !important; */
  /* padding: 10px 20px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ced4da;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #ccc;
}





td {
  padding: 12px;
  border-top: 1px solid #ccc;
}

.option-td {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

button:disabled {
  opacity: 0.7;
}

.ant-pagination-item {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: black;
}

.ant-pagination-item-active {
  background-color: #007bff; 
  color: #000000;
}

.ant-pagination-item:hover {
  border-color: #007bff;
}

.ant-select {
  margin-right: 15px;
}

.ant-select-selector {
  background-color: white !important;
  border-color: #ced4da !important;
  border-radius: 30px !important;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: #007bff;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-weight: bold;
  color: #343a40; 
}

.container-fluid {
  padding: 20px 40px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
